body{
    background:linear-gradient(135deg, #6a11cb, #2575fc,#00c9ff); 
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1{
    text-align: center;
    font-size: 60px;
    text-decoration:underline;
    
}
 #google-btn:hover,#signup-btn:hover,#login-btn:hover{
    background-color: rgb(2, 2, 129);
}
#card {
    background-color:whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-container{
    margin-left: 350px;
    margin-top: 100px;
}
#email,#name{
    display: flex; 
    margin-bottom: 15px;
}
#city,#password{
    display: inline-flex; 
    margin-bottom: 25px;
}
#signup-btn{
    margin-bottom: 15px;
}
#signup{
  margin-left: 1100px;
  margin-top: -50px;
}
#login{
  margin-top: -50px;
}
#navbar{
  height: 60px;
}
#welcome-card{
  background-color:whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#container-2{
  margin-left: 350px;
  margin-top: 100px;
}

